<h3>Create an Account</h3>
<form class="ui form" [formGroup]="authForm">
  <app-input
    type="text"
    label="Username"
    [control]="authForm.controls['username']"
  ></app-input>
  <app-input
    type="password"
    label="Password"
    [control]="authForm.controls['password']"
  ></app-input>
  <app-input
    type="password"
    label="Password Confirmation"
    [control]="authForm.controls['passwordConfirmation']"
  ></app-input>
  <div
    *ngIf="
      authForm.controls['password'].touched &&
      authForm.controls['passwordConfirmation'].touched &&
      authForm.errors?.['passwordsDontMatch']
    "
    class="ui red basic label"
  >
    <p>Passwords must match</p>
  </div>
  <div>
    <button class="ui submit button primary">Submit</button>
  </div>
</form>
